In [1]:
import pandas as pd

In [4]:
psg_players = pd.Series(
    ['Navas', 'Mbappe', 'Neymar', 'Messi'], index=[1, 7, 10, 30])

In [5]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [6]:
pd.Series(['Navas', 'Messi'])

0    Navas
1    Messi
dtype: object

In [7]:
dict = {1: 'Navas', 7: 'Mbappe'}
pd.Series(dict)

1     Navas
7    Mbappe
dtype: object

In [9]:
psg_players[1] # 0 doesnt exist, only the indexes above

'Navas'

In [10]:
psg_players[0:3] # But we can do slicing

1      Navas
7     Mbappe
10    Neymar
dtype: object

In [11]:
dict = {
  'Jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
  'Altura': [183.0, 170.0, 170.0, 165.0],
  'Goles': [2, 200, 200, 200]
}

In [13]:
df_players = pd.DataFrame(dict, index=[1,7,10, 30])
df_players

   Jugador  Altura  Goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

In [14]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [16]:
df_players.index

Int64Index([1, 7, 10, 30], dtype='int64')